---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

interface Props {
  work: CollectionEntry<'archive'>;
}

const { data, slug } = Astro.props.work;
const today = new Date();
---

<style>
  .card {
    display: grid;
    gap: var(--space-xs);
  }
</style>

<article class="card">
  <h2>
    <a href={`/archive/${slug}/`}>{data.title}</a>
  </h2>
  {
    data.imageStrip && (
      <img src={data.imageStrip} alt={data.title} />
    )
  }
  {
    data.imageThumb && (
      <img src={data.imageThumb} alt={data.title} />
    )
  }
  <p>{ data.description }</p>
  {
    data.collaborators && <small>{data.collaborators}</small>
  }
  <footer>
  {
    <FormattedDate date={data.releaseDate} option='y'/>
  }
  {
    data.lastReleaseDate && (
      <span> &ndash; <FormattedDate date={data.lastReleaseDate} option='y' /></span>
    )
  }
  <small>{data.tech}</small>
  </footer>
</article>
