---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

interface Props {
  work: CollectionEntry<'works'>;
}

const { data, slug } = Astro.props.work;
const today = new Date();
---

<style>
  .card {
    display: grid;
    gap: var(--space-xs);
    --measure: 60ch;
  }
</style>

<article class="card">
  <div class="grid" data-layout="50-50">
    <div class="flow">
      <h2>
        <a href={`/works/${slug}/`}>{data.title}</a>
      </h2>
      <p>{ data.description }</p>
    </div>
    {
      data.image && (
        <img src={data.image.src} alt={data.image.alt} />
      )
    }
  </div>
  <p>
    {
      data.releaseDate && data.releaseDate < today ?
      (
        <FormattedDate date={data.releaseDate} option='m-y' />
      ) :
      (
        <span>work in progress</span>
      )
    } <small>{data.tech}</small>
  </p>
</article>
