---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

interface Props {
  work: CollectionEntry<'archive'>;
}

const { data, slug } = Astro.props.work;
const today = new Date();
---

<style>
  .card {
    display: grid;
    gap: var(--space-xs);
  }
  .strip {
    width: 100%;
  }
  .thumb {
    float: inline-end;
    padding-inline-start: var(--space-2xs);
  }
  footer {
    display: flex;
    justify-content: space-between;
    /* align-items: end; */
    gap: var(--space-xs);
  }
  .collab {
    color: var(--text-2);
    /* font-size: var(--step--1); */
    /* font-style: italic; */
  }
</style>

<article class="card">
  <h2>
    <a href={`/archive/${slug}/`}>{data.title}</a>
  </h2>
  {
    data.imageStrip && (
      <img src={data.imageStrip} alt={data.title} class="strip" />
    )
  }
  <div>
    {
      data.imageThumb && (
        <img src={data.imageThumb} alt={data.title} class="thumb" />
      )
    }
    <p>{ data.description }</p>
  </div>
    {
      data.collaborators && <p class="collab">{data.collaborators}</p>
    }
  <footer>
    <div>
      {
        <FormattedDate date={data.releaseDate} option='y'/>
      }
      {
        data.lastReleaseDate && (
          <span> &ndash; <FormattedDate date={data.lastReleaseDate} option='y' /></span>
          )
        }
    </div>
    <small>{data.tech}</small>
  </footer>
</article>
