---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import Button from "./Button.astro";

interface Props {
  post: CollectionEntry<'blog'>;
}

const {data, slug} = Astro.props.post;
const today = new Date();
---

<style>
  .card {
    display: grid;
    gap: var(--space-xs);
  }
</style>

<article class="card">
  <h2>
    <a href={`/blog/${slug}`}>{data.title}</a>
  </h2>
  <FormattedDate date={data.pubDate} />
  <p>{data.description}</p>

  <!-- TODO: TEMPORARY - just for testing -->
  <!-- <a class="button" href={`/blog/${slug}`}>
    Read more
    <span class="visually-hidden">about {data.title}</span>
  </a> -->
</article>
