---
import type { CollectionEntry } from 'astro:content';
import SingleLayout from './SingleLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'works'>['data'];

const { title, description, releaseDate, image, url, accolades } = Astro.props;
const today = new Date();
---

<style>
	.wip {
		font-style: italic;
	}
  img {
    margin-inline: auto;
    padding-block: var(--space-s);
  }
  .play {
    display: grid;
    place-content: center;
  }
</style>

<SingleLayout>
  <h1 class="title">{title}</h1>
  <p>
    {
      releaseDate &&
      releaseDate < today ?
      (
        <FormattedDate date={releaseDate} option='m-y' />
      ):
      <span class="wip">Work in progress</span>
    }
  </p>
  <p>{description}</p>
  {
    url && (
      <div class="play">
        <a class="button" data-size="lg" href={url}>Play {title}</a>
      </div>
    )
  }
  {
    image && (
      <img src={image.src} alt={image.alt} />
    )
  }
  {
    accolades && accolades.length > 0 && (
      <details>
        <summary>Presentations & exhibitions</summary>
        <p>Some of the places where <cite>{title}</cite> has been exhibited, presented or performed:</p>
        <ul>
        {
          accolades &&
            accolades?.map((accolade) => (
              <li><a href={accolade.url}>{accolade.name}</a></li>
            ))
        }
        </ul>
      </details>
    )
  }
  <slot />
</SingleLayout>
