---
import type { CollectionEntry } from 'astro:content';
import SingleLayout from './SingleLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'works'>['data'];

const { title, description, releaseDate, image, url } = Astro.props;
const today = new Date();
---

<style>
	.wip {
		font-style: italic;
	}
  img {
    margin-inline: auto;
  }
  .play {
    display: grid;
    place-content: center;
  }
</style>

<SingleLayout>
  <h1 class="title">{title}</h1>
  <p>
    {
      releaseDate &&
      releaseDate < today ?
      (
        <FormattedDate date={releaseDate} option='m-y' />
      ):
      <span class="wip">Work in progress</span>
    }
  </p>
  <p>{description}</p>
  {
    url && (
      <div class="play">
        <a class="button" data-size="lg" href={url}>Play {title}</a>
      </div>
    )
  }
  {
    image && (
      <img src={image.src} alt={image.alt} />
    )
  }
  <slot />
</SingleLayout>
