---
import SingleLayout from './SingleLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<style>
	hr {
		border-top: 1px solid var(--surface-3);
		margin: 1rem 0;
	}
	.date {
		font-style: italic;
	}
	.last-updated-on {
		padding-inline-start: var(--space-xs);
	}
</style>

<SingleLayout>
  {heroImage && <img src={heroImage.src} width={heroImage.width} height={heroImage.height} alt="" />}
  <h1 class="title">{title}</h1>
  <p class="date">
    <FormattedDate date={pubDate} />
    {
      updatedDate && (
        <span class="last-updated-on">
          Updated: <FormattedDate date={updatedDate} />
        </span>
      )
    }
  </p>
  <hr />
  <slot />
</SingleLayout>
