---
import SingleLayout from './SingleLayout.astro';

const { title, description, heroImage } = Astro.props.frontmatter || Astro.props;
---

<style>
	hr {
		border-top: 1px solid var(--surface-3);
		margin: 1rem 0;
	}
  p {
    --CASL: 1;
    --CRSV: 1;
    --wght: 500;
    --slnt: -5;
    font-size: var(--step-1);
  }
</style>

<SingleLayout>
  {
    heroImage &&
    <img src={heroImage.src} width={heroImage.width} height={heroImage.height} alt="" />
  }
  <h1 class="title">{title}</h1>
  <p>{description}</p>
  <hr />
  <slot />
</SingleLayout>
